{erl_opts, [debug_info]}.

{deps, []}.

{project_plugins, [erlfmt]}.

{erlfmt, [
    write,
    {print_width, 80},
    {files, [
        "rebar.config",
        "{src,include,test}/*.{hrl,erl,app.src}",
        "tool/*.{hrl,erl}"
    ]}
]}.

{profiles, [
    {test, [
        {deps, [
            {unite, "0.3.1"}
        ]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
    ]},
    {tool, [
        {deps, [
            argparse,
            grid
        ]},
        {erl_opts, [
            {src_dirs, [
                {"tool", [{recursive, true}]},
                {"src", [{recursive, true}]}
            ]}
        ]},
        {escript_main_app, ansi},
        {escript_incl_apps, [argparse, grid]},
        {escript_name, colortool},
        {escript_emu_args, "%%! +pc unicode -escript main colortool\n"}
    ]}
]}.
